<div>
    <h2>Hola, {{user.first_name}} {{user.last_name}}, tu rol es {{user.role}}</h2>
</div>
<div>
    <h2>Mi carrito tiene el ID</h2>
    <label for="id"> Id</label>
    <input type="text" name="carritoId" id="carritoId">
</div>
<h2>Productos</h2>
{{#if result.isValid}}
<div>
    {{#each result.docs}}
    <div>
        <p>Title: {{this.title}} &nbsp; Description: {{this.description}}</p>
        <p>Price: {{this.price}} &nbsp; Category: {{this.category}}</p>
        <p>Id: {{this._id}}</p>
        <button class="agregar-carrito" data-product-id="{{this._id}}">Agregar al carrito</button>
    </div>
    <br />
    {{/each}}
</div>
<br />
<div>
    {{#if result.hasPrevPage}}
    <a href={{result.prevLink}}>
        << Anterior</a>
            {{/if}}
            &nbsp;
            {{result.page}}
            &nbsp;
            {{#if result.hasNextPage}}
            <a href={{result.nextLink}}>Siguiente >></a>
            {{/if}}
</div>
{{else}}
<h1>No hay productos para mostrar</h1>
{{/if}}

<form action="/api/sessions/logout" method="POST">
    <button type="submit">Cerrar Sesión</button>
</form>

{{!--
<script src="../public/js/products.js"></script> --}}

<script>
    function addToCart() {
        document.querySelectorAll('.agregar-carrito').forEach(button => {
            button.addEventListener('click', async (event) => {
                //const productId = button.getAttribute('data-product-id');
                //const cartId = document.getElementById('carritoId').value;
                const productId = "664e767da1604d347baf79d3";
                const cartId = "666dd083aaa002dd8d72040c";

                try {
                    const response = await fetch(`/api/carts/${cartId}/products/${productId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    });

                } catch (error) {
                    console.log(error);
                }
            });
        });
    }


    addToCart();
</script>